
<%-  include("partials/header")  %>

<style>
  #frm-add-category label.error{
    color: red;
  }
</style>

<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Getão do Conhecimento</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/admin/">Início</a></li>
          <li class="breadcrumb-item active">Netflix</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-success">
            <div class="card-header">
                <h4 class="card-title">Como Faturar?</h4>
              </div>

            <div class="card-body">
              <div>
                <div class="filter-container p-0 row">
                    <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                        <a href="dist/video/faturacao.mp4" data-toggle="lightbox" data-title="sample 1 - white">
                            <h6>1 - Fechar Ordens de Picking</h6>
                          <video class="img-fluid mb-2" width="100%" height="auto" controls>
                            <source src="dist/video/faturacao.mp4" type="video/mp4">
                          </video>
                        </a>
                      </div>
                      <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                        <a href="dist/video/faturacao.mp4" data-toggle="lightbox" data-title="sample 1 - white">
                            <h6>2 - Enviar E-mails</h6>
                          <video class="img-fluid mb-2" width="100%" height="auto" controls>
                            <source src="dist/video/faturacao.mp4" type="video/mp4">
                          </video>
                        </a>
                      </div>
                      <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                        <a href="dist/video/faturacao.mp4" data-toggle="lightbox" data-title="sample 1 - white">
                            <h6>3 - Imprimir Faturas</h6>
                          <video class="img-fluid mb-2" width="100%" height="auto" controls>
                            <source src="dist/video/faturacao.mp4" type="video/mp4">
                          </video>
                        </a>
                      </div>

                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-12">
            <div class="card card-success">
              <div class="card-header">
                  <h4 class="card-title">Como Inserir Encomendas?</h4>
                </div>
  
              <div class="card-body">
                <div>
                  <div class="filter-container p-0 row">
                      <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
                          <a href="dist/video/faturacao.mp4" data-toggle="lightbox" data-title="sample 1 - white">
                              <h6>1 - Criar Nova Encomenda</h6>
                            <video class="img-fluid mb-2" width="100%" height="auto" controls>
                              <source src="dist/video/faturacao.mp4" type="video/mp4">
                            </video>
                          </a>
                        </div>
                        
  
                  </div>
                </div>
  
              </div>
            </div>
          </div>

      </div>
    </div><!-- /.container-fluid -->
  </section>
<!-- /.content -->


<%-  include("partials/footer")  %>