
<%-  include("admin/partials/header")  %>

<style>
  #frm-add-category label.error{
    color: red;
  }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.img_cap {
  display: block;
  margin: 0 auto;
  width: 10rem;
}
</style>

<!-- Content Header (Page header) -->

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Erro 401</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Erro 401</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-warning"> 401</h2>

      <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Usuário não autorizado.</h3>

        <p>
          Infelizmente não lhe foi permitido acessar essa página.
        </p>
        <p>
          Caso seja realmente necessário acessar este conteúdo entre em contacto com a sua chefia imediata.
        </p>
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>

  <div class="container_img_cap">
    <img class="img_cap" src="dist/img/capitao_pura2.png" alt="">
  </div>
  <!-- /.content -->
<!-- /.container-fluid -->

<!-- /.content-header -->

<!-- Main content -->
<!-- /.content -->


<%-  include("admin/partials/footer")  %>