<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pura Admin - Login</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">

  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

  <link rel="stylesheet" href="/dist/css/adminlte.min.css?v=3.2.0">


  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
    }

    .img_cap {
      display: block;
      margin: 0 auto;
      width: 20rem;
    }

    @media screen and (max-width: 768px) {
      .img_cap {
        max-width: 80%;
      }
    }

    @media screen and (max-width: 480px) {
      .img_cap {
        max-width: 100%;
      }
    }
  </style>

<body class="hold-transition login-page">

  <div class="container_img_cap">
    <img class="img_cap" src="dist/img/capitao_pura.png" alt="">
  </div>

  <div class="login-box">
    <div class="login-logo">
      <a href="javascript:void(0)"><b>FRUT</b>ADMIN</a>
    </div>

    <div class="card">
      <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i>Página em Construção.</h3>
      </div>

    </div>
  </div>


  <script src="plugins/jquery/jquery.min.js"></script>

  <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="dist/js/adminlte.min.js?v=3.2.0"></script>
</body>

</html>