<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="plugins/sparklines/sparkline.js"></script>
<script src="plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<script src="plugins/jquery-knob/jquery.knob.min.js"></script>
<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<script src="plugins/select2/js/select2.full.min.js"></script>
<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="plugins/summernote/summernote-bs4.min.js"></script>
<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="dist/js/adminlte.min.js"></script>
<script src="dist/js/pages/dashboard.js"></script>





<script>
  $(document).ready(function () {
      // Setup - add a text input to each footer cell
      $('#tbl-list-category tfoot th').each(function () {
          var title = $(this).text();
          $(this).html('<input type="text" placeholder="Buscar por ' + title + '" />');
      });
   
      // DataTable
      var table = $('#tbl-list-category').DataTable({
        "scrollX": true,
        "scrollCollapse": true,
   
        "responsive": true, "lengthChange": true, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
          initComplete: function () {
              // Apply the search
              this.api()
                  .columns()
                  .every(function () {
                      var that = this;
   
                      $('input', this.footer()).on('keyup change clear', function () {
                          if (that.search() !== this.value) {
                              that.search(this.value).draw();
                          }
                      });
                  });
          },
      }).buttons().container().appendTo('#tbl-list-category_wrapper .col-md-6:eq(0)');;
  });
  </script>

<script>
  $(document).ready(function () {
      // Setup - add a text input to each footer cell
      $('#tbl-list-billing tfoot th').each(function () {
          var title = $(this).text();
          $(this).html('<input type="text" placeholder="Buscar por ' + title + '" />');
      });
   
      // DataTable
      var table = $('#tbl-list-billing').DataTable({
        "scrollX": true,
        "scrollCollapse": true,
   
        "responsive": true, "lengthChange": true, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
        "columnDefs": [
            {
                "targets": [0], // índice da coluna "Data de Faturação"
                "render": function (data, type, row) {
                    // Formata a data para o formato YYYY-MM-DD
                    return moment(data, "DD/MM/YYYY").format("YYYY-MM-DD");
                }
            }
        ],
          initComplete: function () {
              // Apply the search
              this.api()
                  .columns()
                  .every(function () {
                      var that = this;
   
                      $('input', this.footer()).on('keyup change clear', function () {
                          if (that.search() !== this.value) {
                              that.search(this.value).draw();
                          }
                      });
                  });
          },
      }).buttons().container().appendTo('#tbl-list-category_wrapper .col-md-6:eq(0)');;
  });
  </script>


<script>
  $(document).ready(function () {
      // Setup - add a text input to each footer cell
      $('#tbl-list-picking tfoot th').each(function () {
          var title = $(this).text();
          $(this).html('<input type="text" placeholder="Buscar por ' + title + '" />');
      });
   
      // DataTable
      var table = $('#tbl-list-picking').DataTable({
        "scrollX": true,
        "scrollCollapse": true,
   
        "responsive": true, "lengthChange": true, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
        "columnDefs": [
            {
                "targets": [0], // índice da coluna "Data de Faturação"
                "render": function (data, type, row) {
                    // Formata a data para o formato YYYY-MM-DD
                    return moment(data, "DD/MM/YYYY").format("YYYY-MM-DD");
                }
            }
        ],
          initComplete: function () {
              // Apply the search
              this.api()
                  .columns()
                  .every(function () {
                      var that = this;
   
                      $('input', this.footer()).on('keyup change clear', function () {
                          if (that.search() !== this.value) {
                              that.search(this.value).draw();
                          }
                      });
                  });
          },
      }).buttons().container().appendTo('#tbl-list-category_wrapper .col-md-6:eq(0)');;
  });
  </script>



<script>
  $('.select2').select2()
</script>


<script>
  $(function () {

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    $('.select2').select2()

     //Date picker
     $('#reservationdate').datetimepicker({
        format: 'DD/MM/YYYY',
        timePicker: true
    });

    //Date and time picker
    $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'dd/mm/yyyy'
      }
    })
})


</script>


<script>
$(function () { 
if($("#frm-add-category").length > 0) {
  $("#frm-add-category").validate();
}

if($("#frm-add-book").length > 0) {
  $("#frm-add-book").validate();
}

if($("#frm-add-user").length > 0) {
  $("#frm-add-user").validate();
}

if($("#frm-issue-book").length > 0) {
  $("#frm-issue-book").validate();
}

if($("#frm-return-book").length > 0) {
  $("#frm-return-book").validate();
}
if($("#frm-user-create").length > 0) {
  $("#frm-user-create").validate();
}
if($("#frm-event-create").length > 0) {
  $("#frm-event-create").validate();
}
//add ajax request
var app_url = "http://localhost:3000";

$("#dd_category").on("change", function () {
  var category_id = $(this).val();

  var postdata = "cat_id=" + category_id;

  $.post(app_url + "/admin/category-list-book", postdata, function (
    response
  ) {
    var booksHtml = "<option value=''>Choose Book</option>";

    $.each(response.books, function (index, item) {
      booksHtml +=
        '<option value="' + item.id + '">' + item.name + "</option>";
    });

    $("#dd_book_list").html(booksHtml);
  });
});

$("#return-dd-user").on("change", function () {
  var user_id = $(this).val();

  var postdata = "user_id=" + user_id;

  $.post(app_url + "/admin/user-list-book", postdata, function (
    response
  ) {
    var booksHtml = "<option value=''>Choose Book</option>";

    $.each(response.books, function (index, item) {
      booksHtml +=
        '<option value="' + item.bookId + '">' + item.Book.name + "</option>";
    });

    $("#return_dd_book").html(booksHtml);
  });
});

})
</script>