<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <!-- Para mudar a cor da barra lateral -->

  <style>
    .sidebar-dark-primary {
      background: #086608 !important;
    }
    .sidebar-dark .brand-link {
      border-bottom: 1px solid #ffffff !important;
    }
  </style>


  <!-- FIM : Para mudar a cor da barra lateral -->

  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="dist/img/Frutadmin-Fav.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">FRUTADMIN</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="<%= userData.image %>" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">
          <%= userData.name %>
        </a>
      </div>
    </div>



    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
        <li class="nav-item">
          <a href="/admin" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/admin/date-daily-dashboard" class="nav-link" id="dashboard-diario">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard Diário</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Produtos
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/add-product" class="nav-link" data-id="add-produto">
                <i class="far fa-circle nav-icon"></i>
                <p>Adicionar Produtos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/list-product" class="nav-link" data-id="edit-produto">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar Produtos</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Faturação
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/add-daily-billing" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cadastrar Faturação Diária</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/daily-billing-dashboard" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard de Faturação</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Clientes
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/client-create" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cadastrar Clientes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/client-list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar Clientes</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Departamentos
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/section-create" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Adicionar Departamento</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/section-list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar Departamentos</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Usuários
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/user-create" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Adicionar Usuários</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/user-list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar Usuários</p>
              </a>
            </li>
          </ul>
        </li>


        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Ocorrências
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/event-create" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Adicionar Ocorrência</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/event-list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar Ocorrências</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/event-issue-create" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Motivos de Ocorrências</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/event-issue-list" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Listar Motivos de Ocorrências</p>
              </a>
            </li>
          </ul>
        </li>


        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Picking
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/add-picagem" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cadastrar Picagens</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/dashboard-picking" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Desempenho Geral Diário</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/get-picker" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Desempenho Geral por Picker</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/my-dashboard" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Meu Desempenho</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="/admin/netflix" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Netflix
            </p>
          </a>
        </li>

      </ul>
    </nav>

    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

