 <!-- /.content-wrapper -->
</div>
 
 <footer class="main-footer">
    <strong>Copyright &copy; 2021-2022 <a href="https://deyvison.dev">PURAdmin</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.2.0
    </div>
  </footer>


</div>
<!-- ./wrapper -->

<%- include("inc/scripts") %>

</body>
</html>
